main {
    height: 95vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.ndu-section {
    /* height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; */
    scroll-snap-align: start;
}

/* .ndu-section-1 {
    background-color: #d1c4e9;
}

.ndu-section-2 {
    background-color: #c8e6c9;
}

.ndu-section-3 {
    background-color: #b3e5fc;
}

.ndu-section-4 {
    background-color: #f0f4c3;
}

.ndu-section-5 {
    background-color: #ffccbc;
} */

.ndu-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}