@media (min-width: 62rem) {
    [data-container="wide-boxed"] {
        #main-wrapper {
            max-width: 92.5rem;
            margin: 0 auto;
			box-shadow: 0 0 1.875rem 0 rgba(0,0,0,0.1);
				
            @at-root [direction="rtl"]#{&} {
                text-align: right;
            }
        }
    }
}

    
    
@include custommq($min: 84.375rem) {
    [data-layout="vertical"][data-sidebar-style="overlay"][data-container="wide-boxed"][data-header-position="fixed"] {
        .header {
            max-width: 92.5rem;
        }
    }
}

@include custommq($min: 75rem, $max: 100rem) {
    [data-layout="vertical"][data-sidebar-style="overlay"][data-container="wide-boxed"][data-header-position="fixed"] {
        .header {
            max-width: 92.5rem;
        }
    }
}
[data-sidebar-style="compact"][data-header-position="fixed"][data-container="wide-boxed"][data-layout="vertical"] {
    .header {
        max-width: 92.5rem;
    }
}

[data-header-position="fixed"][data-layout="horizontal"][data-container="wide-boxed"] {
    .dlabnav {
        max-width: 92.5rem;
    }
} //ok

[data-layout="vertical"][data-container="wide-boxed"][data-header-position="fixed"],
[data-layout="horizontal"][data-container="wide-boxed"][data-header-position="fixed"] {
    .header {
        max-width: 92.5rem;
    }
}

[data-layout="horizontal"][data-container="wide-boxed"][data-header-position="fixed"][data-sidebar-style="mini"] {
    .header {
        max-width: 92.5rem;
    }
}


[data-container="wide-boxed"] {
    .metismenu.fixed {
        left: auto;
        max-width: 92.5rem;
    }

    .page-titles {
        margin-bottom: 3rem;
        padding: 0.9375rem 0.9375rem;
    }

    .content-body .container-fluid {
        padding: 2.5rem;
    }
}

[data-container="wide-boxed"][data-layout="vertical"] {
    .page-titles {
        margin-left: 0;
        margin-right: 0;
    }
}

[data-layout="vertical"][data-container="wide-boxed"][data-sidebar-position="fixed"][data-header-position="static"][data-sidebar-style="overlay"] {
    .nav-header {
        position: absolute;
    }

    .menu-toggle {
        .dlabnav {
            position: absolute;
        }
    }
}

[data-container="wide-boxed"][data-sidebar-position="fixed"][data-layout="horizontal"] {
    .dlabnav.fixed {
        left: auto;
        max-width: 92.5rem;
    }
}