

.select2-container--default .select2-selection--single {
    border-radius: $radius;
    border: 0.0625rem solid var(--border);
    height: 3rem;
    background: $white;
	@at-root [data-theme-version="dark"] & {
        background:$d-bg;
		border-color:$d-border;
    }
		
		
    &:hover,&:focus,&.active{
        box-shadow: none;
    }
}
.select2-container{
	width : 100%!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 2.9rem;
	color:$body-color;
	padding-left: 0.9375rem;
	min-height: 3rem;
}

.select2-container--default .select2-selection--multiple {
    border-color: $border;
    border-radius: 0;
	
}

.select2-dropdown {
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--primary);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: $border;
    background: $white;
	padding: 0.2rem 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0.775rem;
    right: 0.9375rem;
}
.select2-container .select2-selection--multiple{
	min-height: 3rem;
	color:$body-color;
	border-radius: $radius;
	border: 0.0625rem solid var(--border);
	@at-root [data-theme-version="dark"] & {
        background:$d-bg;
		border-color:$d-border;
    }
}
.select2-search--dropdown .select2-search__field{
	@at-root [data-theme-version="dark"] & {
        background:$dark-card;
		border-color:$d-border;
    }
}
.select2-dropdown{
	border-color: $light;
	@at-root [data-theme-version="dark"] & {
        background:$d-bg;
		border-color:$d-border;
    }
}
.swal2-popup .swal2-content{
	color:$body-color;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 12px;
}

// new scss for select2 

.select2-selection__clear{
	display:none;
}
.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable{
	background-color:var(--primary);
}
.select2-container--classic.select2-container--open .select2-selection--multiple,.select2-container--classic.select2-container--open .select2-dropdown{
	border-color:var(--primary);
}
.select2-container--open .select2-dropdown{
	background-color:$white;
	border-radius: $radius;
	padding:1rem 0;
	box-shadow:0px 0px 50px 0px rgba(82, 63, 105, 0.15);
	&.select2-dropdown--above{
		border-radius:$radius $radius 0 0;
	}
	&.select2-dropdown--below{
		border-radius:0  0  $radius $radius;
	}
	@at-root [data-theme-version="dark"] & {
        background:$d-bg;
		border-color:$d-border;
    }
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	border-radius:$radius;
	padding: 0.5rem 1.25rem;
    margin: 0 0 0.5rem 0;
}
.select2-search--dropdown{
	padding: 0.5rem 1.25rem;
	margin: 0 0 0.5rem 0;
}
.select2-results__options{
	li{
		padding: 0.75rem 1.25rem;
		margin: 0 0;
		background-color:$white;
		@at-root [data-theme-version="dark"] & {
			background:$d-bg;
		}
	}
}

.select2-container--default .select2-results__option--selected{
	background-color: #f5f5f5;
	color: var(--primary);
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color:var(--primary);
	color:$white;
	@at-root [data-theme-version="dark"] & {
        background:var(--primary);
		color:#fff;
    }
}
.select2-container .select2-search--inline .select2-search__field{
	background:transparent;
}
.select2-container--default .select2-selection--single .select2-selection__clear{
	display:none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--multiple .select2-selection__choice{
	border-radius: $radius;
	border: 0;
	background-color: var(--rgba-primary-1);
	font-size: .85rem;
	color: var(--primary);
	padding: 5px 8px 5px 32px;
	position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove{
	height: 100%;
	padding: 0 6px 0 8px;
	font-size: 18px;
	font-weight: 500;
	border-color:var(--border);
	color: var(--primary);
	position: absolute;
	left: 0;
	top: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
	display: block;
    color: var(--primary);
    font-size: 13px;
    width: 100%;
}

.select2-label{
	margin-bottom:0.5rem;
	font-weight: 500;
    color: var(--bs-heading-color);
    font-size: 15px;
}
.select2-container--default.select2-container--disabled .select2-selection__choice{
	padding: 5px 8px 5px 8px;
}
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--classic .select2-selection--single:focus{
	border-color:var(--primary);
}


.select2-container--default .select2-results__option--selectable{
	.select2-result-repository__avatar{
		height:50px;
		width : 50px;
		margin-right:12px;
		img{
			width : 100%;
			height:100%;
			border-radius:$radius;
		}
	}
	&.select2-results__option--highlighted{
		.select2-result-repository__title{
			color : $white;
		}
		.select2-result-repository__forks,
		.select2-result-repository__stargazers,
		.select2-result-repository__watchers{
			color:$white;
		}
	}
	.select2-result-repository{
		display:flex;
		align-items:center;
		
	}
	.select2-result-repository__meta{
		flex:1;
	}
	.select2-result-repository__title{
		font-size:.95rem;
		color:#000;
	}
	.select2-result-repository__description{
		font-size:.75rem;
		margin-bottom:3px;
	}
	.select2-result-repository__statistics{
		display:flex;
	}
	.select2-result-repository__forks,
	.select2-result-repository__stargazers,
	.select2-result-repository__watchers{
		margin-right:12px;
		font-size:.75rem;
		color:$headings-color;
	}
}

.tagify.form-control{
    @include respond('laptop'){
        padding: 5px 5px;
    }
}
.tagify__tag > div::before {
    box-shadow: 0 0 0 20px var(--tag-bg) inset;
}
.tagify__tag__removeBtn:hover + div::before{
	box-shadow: 0 0 0 20px var(--tag-remove-bg,rgba(211,148,148,.3)) inset !important;
}




















